@model IEnumerable<CoffeeShop.Models.ActionLog>

@{
    ViewBag.Title = "ActionLog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ActionLog</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ActionLogId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Controller)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Action)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IP1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActionLogId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Controller)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Action)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IP1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
        </tr>
    }

</table>